# APP
NODE_ENV=development
PORT=3001

# STRIPE
STRIPE_PUBLIC_KEY=pk_test_****************
STRIPE_SECRET_KEY=sk_test_****************
STRIPE_WEBHOOK_SECRET=whsec_**************

# EMAIL (Nodemailer / Gmail)
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASSWORD=************  # contraseña de aplicación Gmail

# NOTION
NOTION_API_KEY=secret_********************************
NOTION_SUPPORT_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DOCS_DB_ID=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

# ZAPIER
ZAPIER_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/XXXXXXX/XXXXXXXXXX/

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
